.add-task .card-body {
  display: none;
}

.apt-addheading {
  cursor: pointer;
  user-select: none;
}

.task-list {
  font-size: 1.1em;
}

.task-list .task-item {
  border-bottom: 1px dotted gray;
}

.task-list .task-item:last-child {
  border-bottom: none;
}

.task-list .task-name {
  font-weight: 600;
  color: #337ab7;
  font-size: 1.3em;
  line-height: 100%;
}

.tasl-list .label-item {
  font-weight: 600;
  color: #667b82;
}

.task-list .apt-date {
  font-style: italic;
}

.task-list .completed-date {
  line-height: 120%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #a9aeb2;
}
